<!-- 楽曲検索フォーム -->
<div class="flex justify-center py-6">
  <div class="join w-full">
    <%= form_with url: search_favorite_tracks_path, method: :get, class: "w-full flex justify-center" do |f| %>
      <%= f.text_field :track_name, class: "input input-bordered input-secondary w-1/4 join-item", placeholder: "楽曲名" %>
      <%= f.text_field :artist_name, class: "input input-bordered input-secondary w-1/4 join-item", placeholder: "アーティスト名" %>
      <%= f.submit "検索", class: "btn join-item bg-accent text-indigo-950 hover:bg-secondary rounded-r-full" %>
    <% end %>
  </div>
</div>
