<header>
  <div class="navbar bg-base-300">
    <div class="flex justify-between w-full h-1/6 ">
      <div class="w-1/6 py-5 px-3">
        <%= link_to 'Discover music', root_path, role:"button", class:"btn btn-ghost text-xl" %>
      </div>
      <div class="flex flex-row justify-end w-1/6 px-4 gap-5">
        <%= link_to "新規登録", sign_up_path, class: "btn btn-outline btn-primary" %>
        <%= link_to "ログイン", login_path, class: "btn btn-outline btn-primary" %>
      </div>
    </div>
  </div> 
</header>
