<header>
  <div class="navbar bg-base-300 py-0">
    <div class="flex justify-between w-full h-1/6 ">
      <div class="w-1/6 px-3 ">
        <%= image_tag('logo2.png', class: "h-full py-0") %>
      </div>
    </div>
  </div> 
</header>
