<div class="flex-grow flex justify-center items-center">
<div class="text-center">
	<h1 class="font-bold font-body"><%= 'プレイリスト作成方法を選択'%></h1>
  
	  <div class="py-20 space-x-12">
		  <%= link_to "アーティストから", create_playlist_artists_path, class: "btn bg-extend-left fixed-size btn-outline btn-hover btn-secondary" %>
		  <%= link_to "音楽ジャンルから", "#", class: "btn bg-extend-right fixed-size btn-outline btn-hover btn-primary" %>
  </div>
  </div>
</div>
